table,th,td{
    border:1px solid black;
}
*{
    text-align: center;
}
th{
    height:50px;
}
#table1{
    height:500px;
    width:1000px;
}
.food{
    background-color: yellow;
    color: red;;
}

.table2{
    height:500px;
}
#row{
    text-decoration-color: black;
}
h2{
    text-align: center;
}